<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>{LABEL}</string>
	<key>LowPriorityIO</key>
	<true/>
    <key>Debug</key>
    <true/>
	<key>ProgramArguments</key>
	<array>
		<string>convert ()</string>
		<string>{</string>
		<string>XATTRS=$(xattr {BINARY});</string>
		<string>PREFSYNC_ATTR="com.asmeurer.prefsync:NoSync";</string>
		<string>if</string>
		<string>[ ${XATTR/$PREFSYNC_ATTR} = $XATTR ] ;</string>
		<string>then</string>
		<string>    plutil -convert xml1 {BINARY} -o {XML};</string>
		<string>    xattr -w com.asmeurer.prefsync:NoSync yes {XML};</string>
		<string>fi;</string>
		<string>};</string>
		<string>convert</string>
	</array>
	<key>QueueDirectories</key>
	<array/>
	<key>ThrottleInterval</key>
	<integer>{THROTTLEINTERVAL}</integer>
	<key>WatchPaths</key>
	<array>
		<string>{BINARY}</string>
	</array>
</dict>
</plist>
