<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>{LABEL}</string>
	<key>LowPriorityIO</key>
	<true/>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>-c</string>
		<string>convert () { XATTRS=$(xattr {BINARY}); PREFSYNC_ATTR="com.asmeurer.prefsync:NoSync"; if [ ${XATTRS/$PREFSYNC_ATTR} = $XATTRS ] ; then     plutil -convert xml1 {BINARY} -o {XML};     xattr -w com.asmeurer.prefsync:NoSync yes {XML}; fi; }; convert</string>
	</array>
	<key>QueueDirectories</key>
	<array/>
	<key>ThrottleInterval</key>
	<integer>{THROTTLEINTERVAL}</integer>
	<key>WatchPaths</key>
	<array>
		<string>{BINARY}</string>
	</array>
</dict>
</plist>
