<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<true/>
	<key>Label</key>
	<string>com.asmeurer.plisttest2</string>
	<key>LowPriorityIO</key>
	<true/>
	<key>ProgramArguments</key>
	<array>
		<string>plutil</string>
		<string>-convert</string>
		<string>binary1</string>
		<string>{XML}</string>
		<string>-o</string>
		<string>{BINARY}</string>
	</array>
	<key>QueueDirectories</key>
	<array/>
	<key>ThrottleInterval</key>
	<integer>{THROTTLEINTERVAL}</integer>
	<key>WatchPaths</key>
	<array>
		<string>{XML}</string>
	</array>
</dict>
</plist>
