<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>{LABEL}</string>
	<key>LowPriorityIO</key>
	<true/>
	<key>ProgramArguments</key>
	<array>
		<string>convert</string>
		<string>()</string>
		<string>{</string>
		<string>XATTRS=${xattr {XML}}</string>
		<string>;</string>
		<string>PREFSYNC_ATTR="com.asmeurer.prefsync:NoSync";</string>
		<string>if</string>
		<string>[</string>
		<string>${XATTR/$PREFSYNC_ATTR}</string>
		<string>=</string>
		<string>$XATTR</string>
		<string>]</string>
		<string>;</string>
		<string>then</string>
		<string>    plutil</string>
		<string>-convert</string>
		<string>binary1</string>
		<string>{XML}</string>
		<string>-o</string>
		<string>{BINARY};</string>
		<string>    xattr</string>
		<string>-w</string>
		<string>com.asmeurer.prefsync:NoSync</string>
		<string>yes</string>
		<string>{BINARY};</string>
		<string>fi;</string>
		<string>};convert</string>
	</array>
	<key>QueueDirectories</key>
	<array/>
	<key>ThrottleInterval</key>
	<integer>{THROTTLEINTERVAL}</integer>
	<key>WatchPaths</key>
	<array>
		<string>{XML}</string>
	</array>
</dict>
</plist>
